
<div class="container">
    <form [formGroup]="productForm">

    <div class="row my-4">
            <h1>
                <span *ngIf="productId == 'new'"> Add New </span>
                <span *ngIf="productId > 0"> Edit </span>
                Product
            </h1>
            <div class="d-flex align-items-center back" (click)="goBack()"> 
                <fa-icon [icon]="['fas', 'arrow-left']"></fa-icon>
                <span class="mx-2 my-3">Back</span> 
            </div> 
            <div class="col-6">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" class="form-control" formControlName="title" id="title" placeholder="Enter title" required>
                </div>
                <div class="mb-3">
                    <label for="price" class="form-label">Price</label>
                    <input type="number" class="form-control"formControlName="price" id="price" placeholder="Ex: 100" required>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea class="form-control" formControlName="description" id="description" rows="5" required></textarea>
                </div>
                
            </div>
            <div class="col-6">
                <div class="mb-3">
                    <label for="discount" class="form-label">Discount</label>
                    <input type="number" class="form-control" formControlName="discountPercentage" id="discount" placeholder="Ex: 10.0" required>
                </div>
                <div class="mb-3">
                    <label for="rating" class="form-label">Rating</label>
                    <input type="number" class="form-control" formControlName="rating" id="rating" placeholder="Ex: 4.67" required>
                </div>
                <div class="mb-3">
                    <label for="brand" class="form-label">Brand</label>
                    <input type="text" class="form-control" formControlName="brand" id="brand" placeholder="Ex: Samsung" required>
                </div>
                <div class="mb-3">
                    <label for="category" class="form-label">Category</label>
                    <input type="text" class="form-control" formControlName="category" id="category" placeholder="Ex: Smartphones" required>
                </div>
            </div>
    </div>


    <div class="row my-2">
        <div class="float-right">
            <input *ngIf="productId == 'new'" type="submit" value="Save" class="mr-5 px-5 btn btn-success-theme" (click)="addNewProduct()">
            <input *ngIf="productId > 0" type="submit" value="Update" class="mr-5 px-5 btn btn-success-theme" (click)="editProduct()">
            <input type="submit" value="Cancel" class="mx-5 px-5 btn btn-secondary-outline" (click)="goBack()">
        </div>
    </div>
</form>

</div>
