<app-header> </app-header>


<div class="container-fluid" *ngIf="route.isActive('/', true)">
  <div class="row mt-5">
    <div class="col-4 offset-2 text-center" >
      <mat-card (click)="viewProducts()" class="mat-card w-100">
        <h2 class="my-5">
          <fa-icon [icon]="['fas', 'list']"></fa-icon>
          Products List
        </h2>
      </mat-card>
    </div>
  
    <div class="col-4 offset-0.5 text-center">
      <mat-card (click)="addProducts()" class="w-100">
        <h2 class="my-5">
          <fa-icon [icon]="['fas', 'plus']"></fa-icon>
          Add Product
        </h2>
      </mat-card>
  
    </div>
  </div>
</div>

<router-outlet></router-outlet>


