mat-card{
    cursor: pointer;
    background-color: white;
    border: 1px solid #78a206;
    color: rgba(0, 0, 0, 0.849);
    height: 10rem;
    justify-content: center;
    align-items: center;
    h2{
        font-size: 25px;
    }
}